<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/feature.css" />
    <title>Exclusive Features</title>
  </head>
  <body>
    <div class="head">We have Exclusive Features</div>
    <div class="desc">
      School Management is all in one solution for educational institute with
      <br />
      different types of users
    </div>

    <div class="flexing">
      <a href="#admin">
        <div class="card">
          <img src="Images/adminFeat.png" alt="Card Image" />
          <div class="card-content">
            <div class="card-title">Take Full Control With All Features</div>
            <!-- <div class="card-description">This is a description of the card.</div> -->
          </div>
        </div>
      </a>
      <a href="#teacher">
        <div class="card">
          <img src="Images/teacherFeat-removebg-preview.png" alt="Card Image" />
          <div class="card-content">
            <div class="card-title">
              Manages Students And Academic Activities
            </div>
            <!-- <div class="card-description">This is a description of the card.</div> -->
          </div>
        </div>
      </a>
      <a href="#student">
        <div class="card">
          <img src="Images/studentFeat-removebg-preview.png" alt="Card Image" />
          <div class="card-content">
            <div class="card-title">
              Collaborates Schools , Teacher And Activity At All
            </div>
            <!-- <div class="card-description">This is a description of the card.</div> -->
          </div>
        </div>
      </a>
    </div>

    <div class="img-cont">
      <img src="Images/featureIMG-removebg-preview.png" alt="">
    </div>
  </body>
</html>
