<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>School Management System</title>

    <!--LOCOMOTIVE CSS CDN-->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css"
    />

    <!-- Website Icon -->
    <link rel="icon" href="{{url_for('loginBlu.static', filename = '/images/images-removebg-preview.png')}}" />

    <!-- REMIX ICON CDN -->
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
      rel="stylesheet"
    />

    <!-- SHERY CSS CDN -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/sheryjs/dist/Shery.css"
    />

    <!-- Bootstrap CSS CDN -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />

    <!-- CSS FILE LINKING -->
    <link rel="stylesheet" href="{{  url_for('loginBlu.static' , filename = 'css/style.css') }}" />
  </head>
  <body>
    <div id="main">
      <!-- PAGE 1 STARTED -->
      <div id="page1">
        <div id="nav">
          <div class="box1">
            <img src="{{url_for('loginBlu.static', filename = '/images/templogo.png')}}" alt="" />
            <h2>EduSphere</h2>
          </div>
          <div class="box2">
            <h5>Features</h5>
            <h5>Pricing</h5>
            <h5>Contact</h5>
            <i class="ri-global-fill"></i>
            <button type="button" class="btn btn-dark">
              <a href="{{ url_for('loginBlu.login_user') }}">Sign In</a>
            </button>
            <button type="button" class="btn btn-dark">
              <a href="{{ url_for('registerBlu.register_user') }}">Register</a>
            </button>
          </div>
        </div>

        <div class="container">
          <div class="box" id="box1">
            <h2>
              Empower Learning <br />
              Simplify Management
            </h2>
            <h3>
              Experience a platform that enhances education by making
              adminitrative effortless and learning more effective
            </h3>
            <button type="button" class="btn btn-primary">
              <a href="#started">Get Started</a>
            </button>
          </div>
          <div class="box" id="box2">
            <img src="{{url_for('loginBlu.static', filename = '/images/img1.jpeg')}}" alt="" />
          </div>
        </div>
      </div>

      <!-- PAGE 2 STARTED -->
      <div id="page2">
        <div class="box1">
          <h2>Why EduSphere ?</h2>
          <h3>
            EduSphere streamlines student management with a user-friendly
            interface, centralized data, customize tools, efficient
            communication and enhancing education experience
          </h3>
          <button type="button" class="btn btn-primary">
            <a href="#about">About Me</a>
          </button>
        </div>
        <div class="box2">
          <div class="settle">
            <div class="card" id="ci1">
              <h3>Attendance Tracking</h3>
              <img src="{{url_for('loginBlu.static', filename = '/images/Tracking.png')}}" alt="" />
              <h5>
                Efficiently monitor and records students Attendance to maintain
                accurate records and identify trends
              </h5>
            </div>
            <div class="card">
              <h3>Central Dashboard</h3>
              <img src="{{url_for('loginBlu.static', filename = '/images/dashboard.png')}}" alt="" />
              <h5>
                Easily manage, records and analyze students grades and
                performance to ensure accurate assessment and reporting
              </h5>
            </div>
          </div>
          <div class="settle">
            <div class="card">
              <h3>Grade Management</h3>
              <img src="{{url_for('loginBlu.static', filename = '/images/grade.png')}}" alt="" />
              <h5>
                Good for grading the students according to their score and
                performance all data can be feeded
              </h5>
            </div>
            <div class="card">
              <h3>Communication Tools</h3>
              <img src="{{url_for('loginBlu.static', filename = '/images/tools.png')}}" alt="" />
              <h5>
                Robust messaging and notifications systems that enhance
                communication between student's and teacher's
              </h5>
            </div>
          </div>
        </div>
      </div>

      <!-- PAGE 2 STARTED -->
      <div id="page3">
        <h2>Join Us Revolutionizing Education</h2>
        <h3>
          EduSphere is just more than a student management system it's a partner
          educational success. <br />
          &nbsp;&nbsp;&nbsp;Discover how can we help institution achieve it's
          goal and support's every student's journey
        </h3>
      </div>
      <!--                                   <<<<< MAIN CLOSING >>>>>                               -->
    </div>
    <!--                                 <<<<< FILE LINKS AND CDN >>>>>                                    -->

    <!--LOCOMOTIVE JS CDN-->
    <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js"></script>

    <!-- GSAP CDN FILE-->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
      integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <!-- SCROLL TRIGGER CDN FILE-->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"
      integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <!--  Gsap is needed for Basic Effects -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>

    <!-- Scroll Trigger is needed for Scroll Effects -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>

    <!-- Three.js is needed for 3d Effects -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/0.155.0/three.min.js"></script>

    <!-- ControlKit is needed for Debug Panel -->
    <script src="https://cdn.jsdelivr.net/gh/automat/controlkit.js@master/bin/controlKit.min.js"></script>

    <!-- SHERY JS CDN -->
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/sheryjs/dist/Shery.js"
    ></script>

    <!-- Bootstrap JS CDN -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>

    <!-- JS FILE LINKING -->
    <script src="{{ url_for('loginBlu.static' , filename = 'js/script.js') }}"></script>
  </body>
</html>
